section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #fff4df;
}

article {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 10rem;
}

.LLabel {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

input {
  height: 3rem;
  width: 20rem;
  margin-top: 1rem;
}

button {
  background-color: #ffc865;
  border: 1px solid #000;
  border-radius: 0.5rem;
  padding: 0.25rem 1.5rem;
  color: #fff;
  cursor: pointer;
  margin-top: 3rem;
}

.toSignup {
  margin-top: 1rem;
  color: #000;
}
