* {
  margin: 0;
  padding: 0;
  vertical-align: top;
}

a {
  text-decoration: none;
}

.header {
  width: 100%;
  height: 550px;
  background: url(./dog1.jpg);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  background-repeat : no-repeat;
  background-size : cover;
  color: white;
  font-size : 50px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.nav-wrap {
  background-color: rgba(0, 0, 0, 0.238);
  width: 100%;
  height: 70px;
  position: fixed;
  z-index: 4;
}

.nav-left {
  width: 6%;
  display: inline-block;
  height: 100%;
  font-size: 25px;
  margin-left: 30px;
}

.nav-left>ul>li {
  margin-top: 18px;
  color: white;
  font-weight: 600;
  list-style: none;
}

.nav-right {
  width: 90%;
  height: 100%;
  text-align: right;
  display: inline-block;
}

.nav-right>ul>li {
  font-size: 18px;
  color: white;
  margin: 25px 20px 0 0;
  display: inline-block;
}

.nav-right>ul>li>a {
  color: white;
  font-weight: 500;
}

.formMain {
  background: #FFF4DF;
  padding : 50px 360px;
  text-align: start;
  height: auto;
}

.formMain>strong {
  font-size: 23px;
  font-weight: 700;
}

.inputBox {
  width: 650px;
  height: 25px;
}

.bt-group {
  float: right;
}


.button {
  background-color: #FFC865;
  border: none;
  color: white;
  padding: 10px 25px;
  text-align: end;
  text-decoration: none;
  font-size: 16px;
  margin: 0 5px;
  border-radius: 18px;
  cursor: pointer;
  
}

.button:hover {
  background-color: #ffc96550;
  transform: scale(1);
  transition: all 0.3s;
}



.footer {
  width: 100%;
  height: 100px;
  display: flex;
  background: black;
  color: white;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}




