* {
  margin: 0;
  padding: 0;
}

body {
  cursor : url(/public/images/loveDog.png), auto;
}

a {
  text-decoration: none;
}

.header {
  width: 100%;
  position: relative; 
  transition: all 0.75s;
  overflow: hidden;
}

.header:hover {
  opacity:.8;
  transition: all 0.75s;
}

.backdrop {
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  width: 1920px;
  height: 960px;
  size : cover;
  font-family: 'Nanum Gothic', sans-serif;
  font-weight: bold;
  color: white;
  z-index: -1;
  position: relative;
}

.cuteDog {
  position: absolute;
  transition: all 0.5s;
  z-index: 2;
  width: 190px;
  height: 200px;
  padding-left: 1150px;
  padding-top: 330px;
  opacity: 0;
  transition: all 0.75s;
}
#banner:hover .cuteDog {
  opacity: 1;
  transition: all 0.75s;
}

.logo {
  position: absolute;
  z-index: 2;
  width: 420px;
  height: 85px;
  padding-left: 650px;
  padding-top: 345px;
  opacity: 0;
  transition: all 0.75s;
}
#banner:hover .logo {
  opacity: 1;
  transition: all 0.75s;
  
}

.txt {
  position: absolute;
  z-index: 2;
  opacity: 0;
  font-family: 'Nanum Gothic', sans-serif;
  font-weight: bold;
  font-size: 35px;
  padding-left: 600px;
  padding-top: 460px;
  transition: all 0.75s;
}
#banner:hover .txt {
  color: #FFF4DF;
  opacity: 1;
  transition: all 0.75s;
}

.nav-wrap {
  background-color: rgba(0, 0, 0, 0.238);
  width: 100%;
  height: 70px;
  position: fixed;
  z-index: 4;
}

.nav-left {
  width: 6%;
  display: inline-block;
  list-style: none;
  height: 100%;
  font-size: 25px;
  margin-left: 30px;
}

.nav-left>ul {
  list-style: none;
}

.nav-left>ul>li>a {
  color: white;
  font-weight: 600;
  list-style: none;
  display: inline-block;
}

.nav-right {
  width: 90%;
  height: 100%;
  text-align: right;
  display: inline-block;
}

.nav-right>ul>li {
  font-size: 18px;
  color: white;
  margin: 25px 10px 0 0;
  display: inline-block;
  list-style: none;
}

.nav-right>ul>li>a {
  color: white;
  font-weight: 500;
}

.nav-right>ul>li>li>a {
  color: white;
  font-weight: 500;
}

.intruduce {
  width: 100%;
  background: #FFF4DF;
  height: 900px;
}

.intruduce>div>ul {
  position: relative;
  width: 100%;
}

.intruduce>div>ul>li {
  float: left;
  position: absolute;
  width: 25%;
  overflow: hidden;
  margin-top: 100px;
}
.intruduce>div>ul>li:nth-child(1) { left:calc(25%*0); top:calc(475.75px*0); }
.intruduce>div>ul>li:nth-child(2) { left:calc(25%*1); top:calc(475.75px*0); }
.intruduce>div>ul>li:nth-child(3) { left:calc(25%*2); top:calc(475.75px*0); }
.intruduce>div>ul>li:nth-child(4) { left:calc(25%*3); top:calc(475.75px*0); }

.intruduce>div>ul>li>div { 
  margin: 0 80px; 
  position:relative; 
  display:block; 
  width:100%; 
  cursor:url(https://cdn-icons-png.flaticon.com/128/4968/4968244.png),auto; 
}

.intruduce>div>ul>li>div>span {
  display:block; 
  width:60%; 
  outline:8px solid rgba(253,217,71, 0); 
  outline-offset:-58px; 
  transition:all 0.4s;
}
.intruduce>div>ul>li>div:hover>span {
  outline:9px solid rgba(253,217,71, .98);
}

.intruduce>div>ul>li>div>span>img {
  z-index:1; 
  position:relative;
  
  width:100%; 
  opacity:1; 
  transform:scale(1); 
  transition:all 0.4s;
  
}
.intruduce>div>ul>li>div>span:hover>img {
  opacity:.10; 
  transform:scale(1.1);
}

.intruduce>div>ul>li>div>span>strong {
  z-index:2; 
  position:absolute; 
  left:0; 
  top:50%; 
  margin-top:-8px; 
  width:60%; 
  text-align:center; 
  height:16px; 
  font-size:23px; 
  font-family: 'Nanum Gothic', sans-serif;
  color:#000; 
  font-weight:bold; 
  opacity:0; 
  transition:all 0.4s; 
  text-transform:uppercase;
}
.intruduce>div>ul>li>div>span:hover>strong {
  opacity: 1;
}

.intTitle {
  padding-top: 130px;
  padding-left: 30%;
}

.intTitle>h1 {
  font-size: 55px;
  text-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000;
  color: white;
}











.footer {
  width: 100%;
  height: 100px;
  display: flex;
  background: black;
  color: white;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
