table{
    width: 80%;
    border: 1px solid #444444;
    border-collapse: collapse;
    text-align: center;
}
th, td{
    border: 1px solid #444444;
}
.main{
    background: fff4df;
}
.mypage {
    background-color: #fff4df;
  }
.form{
    margin-left: 15%;
}
.wishlist{
    margin-left: 44%;
}
.list{
    margin-left: 43%;
}

.wishlist {
    background: #FFF4DF;
    background-color: #FFF4DF;
    text-align: center;
    height: auto;
    margin-left: 0%;
    align-items: center;
}
.menuItem {
    background: white;
    margin-bottom: 50px;
    width: fit-content; 
    float: left;
    margin-left: 30px;
  }
  
.inText {
font-size: 20px;
color: black;
text-align: center;
}
  