.searchText {
  font-size: 20px;
  color: white;
  text-align: center;
}

.searchInput {
  border-radius: 5px;
  border: none;
  padding: 5px;
  font-weight: 700;
  margin-bottom: 50px;
  text-align: center;
  font-family: "Ubuntu", sans-serif;
}

.pItem {
  color: red;
  display: flex;
  margin: auto;
}

.formProdect {
  text-align: start;
  padding: 5%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #fff4df;
}

.menuItem {
  background: #ffffff;
  margin-bottom: 50px;
  width: fit-content;
  float: left;
  margin-left: 30px;
}

.inText {
  font-size: 20px;
  color: black;
  text-align: center;
}

/* modal창 외부화면 */
.Modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
}

/* modal창 */
.modalBody {
  position: absolute;
  width: 300px;
  height: fit-content;
  padding: 40px;
  text-align: center;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  box-shadow: 0 2px 3px 0 rgba(34, 36, 38, 0.15);
}

#modalCloseBtn {
  position: absolute;
  top: 15px;
  right: 15px;
  border: none;
  color: rgba(0, 0, 0, 0.7);
  background-color: transparent;
  font-size: 20px;
}

#modalCloseBtn:hover {
  cursor: pointer;
}

.submitButton {
  font-size: 20px;
  background: #fff4df;
  text-align: center;
  color: black;
  height: 50px;
}

.imgDiv {
  position: relative;
}

button.imgBtn {
  position: absolute;
  bottom: 0px;
  right: 0px;
  padding: 0rem;
  height: 36px;
  border-style: none;
  background: #00000000;
}
img.btnImages {
  height: 36px;
  width: 36px;
}
